*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:  rgb(13, 209, 235); 
    --main-color-2: #ffffff
}


html{
    scroll-behavior: smooth;
    font: size 16px;
    direction: rtl;
    font-family: "Cairo",sans-serif;
}


link{
    text-decoration: none;
    color: inherit;
}

ul,
ol{
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
    background: none;
}

.my-container {
    padding-left: 15px;
    padding-right: 15px;
    margin:auto
}


/*setting-box start*/

.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #e0e0e0;
    z-index: 9999;
    min-height: 100vh;
    width: 200px;
    transition: 0.3s;
    border: 2px solid #ccc;
}

.setting-box.open{
    left: 0;
}

.setting-box .toggle-settings{
    position: absolute;
    right: 0;
    top: 100px;
    background-color: transparent;
    text-align: center;
    right: -30px;
    cursor: pointer;
}

.setting-box .toggle-settings .fa-gear{
    padding: 8px 0;
    width: 30px;
    color: var(--main-color);
    font-size: 25px;
}

.setting-box .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
}

.setting-box .option-box h4{
    margin: 0;
    color: var(--main-color);
    font-size: 16px;
    font-family: "Cairo",sans-serif;
    font-weight: bold;
    
}

.setting-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 13px 0 0;
}

.setting-box .option-box .colors-list li{
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.setting-box .option-box .colors-list li.active{
    border-color: #222;
}

.setting-box .option-box .colors-list li:first-child {
    background-color: rgb(13, 209, 235);
}
.setting-box .option-box .colors-list li:nth-child(2){
    background-color: #ff0000;
}
.setting-box .option-box .colors-list li:nth-child(3){
    background-color: #b91afb;
}
.setting-box .option-box .colors-list li:nth-child(4) {
    background-color: #3add12;
}
.setting-box .option-box .colors-list li:nth-child(5){
    background-color: #ffc107;
}

.setting-box .option-box .yes,
.setting-box .option-box .no{
    width: 50px;
    background-color: var(--main-color);
    color: #ffffff;
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.setting-box .option-box span.active {
    opacity: 1;
}

.setting-box .reset-options {
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    padding: 10px;
    border-radius: 4px;
    background-color: #f44336;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* start nav bullets */

.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nav-bullets .bullet {
    width: 30px;
    height: 30px;
    border:3px solid var(--main-color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bullet .icon {
    color: var(--main-color);
    /* Remove the absolute positioning, top, and right */
    position: static; 
    /* This line makes the click "pass through" to the bullet */
    pointer-events: none; 
    font-size: 14px;
}

.nav-bullets .bullet:hover .nav-tooltip{
    display: block;
}

.nav-bullets .bullet .nav-tooltip {
    background-color: var(--main-color);
    width: 100px;
    color: #ffffff;
    padding: 8px 10px;
    position: absolute;
    right: 40px;
    top: -7px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
    z-index: 5;
}

.nav-bullets .bullet .nav-tooltip::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    border-width: 10px;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 3px;
    right: -27px;
}

/* end nav bullets */

/* setting-box end  */

/* landing-page start */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/oasissiwah.jpeg);
    background-size: cover;
    position: relative;
}

.header-area .links li a.disable{
    color: #8f8f8f;
}

.header-area .links li a.disable:hover{
    color: #8f8f8f;
    cursor: default;
}

.landing-page .overlay{
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.landing-page .my-container{
    position: relative;
    z-index: 9999;
}

.header-area{
    position: relative;
    z-index: 2;
    color: white ;
    display: flex;
    padding: 10px;
}

.header-area .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.header-area .links-container{
    width: 100%;
    text-align: right;
}

.header-area .links{
    list-style: none;
    padding: 0;
    padding-left: 0;
}

.header-area .links li{
    display: inline-block;
    margin-left: 20px;
}

.header-area .links li a{
    color: #ffffff;
    text-decoration: none;
    transition: 80ms;
}

.header-area .links li a:hover,
.header-area .links li a.active{
    color: var(--main-color);
}

.header-area .toggle-menu:focus{
    outline: none;
}

.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    display: none;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}

.header-area .toggle-menu.menu-active::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent ;
    position: absolute;
    bottom: -15px;
    left: 10px;

}

.header-area .toggle-menu span {
    display: block;
    background-color: #ffffff;
    height: 4px;
    margin-bottom: 4px;
}

.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    font-family: "Cairo",sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.introduction-text h1{
    font-weight: bold;
    font-size: 45px;
    margin: 0 0 17px;
}

@media (max-width: 575px) {

    .introduction-text h1{
        font-size: 28px;
    }
}

.introduction-text h1 span{
    color: var(--main-color);
}

.introduction-text p{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.9;
    margin: 0;
}

@media (max-width: 575px) {

    .introduction-text p{
        font-size: 18px;
    }
}
/*landing-page end */

/* matrouh-info start */

.matrouh-info .my-container {
    background-color: rgb(255, 255, 255);
    margin: 0 30px 0 30px;
    padding: 0;
    position: relative;
}



.matrouh-info .h1{
    margin-top: 0;
    padding-top: 10px;
    font-family: "Cairo",sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
}

.matrouh-info .p-1{
    font-size: 24px;
    font-weight: 400;
    text-indent: 40px;
    font-family: "Cairo",sans-serif;
    line-height: 1.6;
}

.matrouh-info .p-2{
    font-size: 30px;
    font-family: "Cairo",sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 130px;
    margin-bottom: 10px;
}

.matrouh-info .p-3 {
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}

.matrouh-info .button{
    border: 3px solid var(--main-color);
    border-radius: 30px;
    width: 325px;
    text-decoration: none;
    color: #000000;
    position: absolute;
    padding: 8px;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.matrouh-info .button:hover{
    background-color: var(--main-color);
    color: #ffffff;
    transition: 0.3s;
}

/* matrouh-info end */

/* famous places start */
.FPM {
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.FPM h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: "Cairo",sans-serif;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.FPM .images-box {
    text-align: center;
}
.FPM .images-box img {
    width: 200px;
    height: 150px;
    padding: 3px;
    background-color: #ccc;
    border: 1 solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popup-box h3 {
    font-weight: bold;
    font-family: "Cairo", sans-serif;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Tahoma;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.popup-box img{
    width: 550px;
    height: 300px;
}
/* famous places end */

/* report start */
.report {
    height: 600px;
    background-image: url(../images/واحة_سيوة_2.jpeg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.report .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.report .my-container {
    position: relative;
    z-index: 2;
}

.report h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cairo',sans-serif;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.report form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.report form .left{
    float: left;
    width: 49%;
}

.report form .right{
    float: right;
    width: 49%;
}

.report form input:not([type="submit"]),
.report form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border:solid 1px #ccc ;
    background-color: rgba(233, 233, 233, 0.8);
}

.report form input:not([type="submit"]):focus,
.report form textarea:focus{
    outline: solid 2px var(--main-color);
}

.report form input{
    height: 40px;
}

.report form textarea{
    height: 150px;
}

.report form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #ffffff;
    cursor: pointer;
}
/* report end */

/* about us start */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

@media (max-width: 767px) {
    .about-us {
        display: block;
        text-align: center;
    }
}

.about-us .info-box{
    flex: 1;
    padding: 30px;
}

@media (max-width: 767px)  {
    .about-us .info-box {
        padding: 0;
    }
}

.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    font-family: "Cairo",sans-serif;
    color: var(--main-color);
    margin: 0 0 20px ;
    background:none
}
.about-us .info-box p{
    line-height: 2.7;
    color: #767676;
    margin: 0;
}

.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 300px;
}
/* about us end */


