:root{
    --main-color:  rgb(13, 209, 235); 
    --main-color-2: #ffffff
}

@font-face{
    font-family: "Cairo",sans-serif;
    src: url(../webfonts/Cairo-VariableFont_slnt\,wght.ttf);
}


.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.my-container .button {
    text-decoration: none;
    border: solid 3px var(--main-color);
    border-radius: 50px;
    margin-top: 3px;
    padding: 5px;
    display: inline-block;
    color: black;
}

.my-container .button:hover {
    background-color: var(--main-color);
    color: #ffffff;
    transition: 0.3s;
}

.timeline .timeline-content:before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 125px;
    text-align: center;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 6px;
    color: #ffffff;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left::before{
    right: -35px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right::before{
    left: -35px;
}


.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 3px solid var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 18px;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #ffffff;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
    font-size: 26px;
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
    font-size: 19px;
}

.clearfix {
    clear: both;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
}

.timeline .timeline-content .left .content::before {
    border-color: transparent transparent transparent #ffffff;
    right: -20px;
    top: 17px;
}

.timeline .timeline-content .right .content::before {
    border-color: transparent #ffffff transparent transparent ;
    left: -20px;
    top: 17px;
}